<div class="articleListItem" id="article{{_id}}">
    <a href="{{link}}">
        <p>{{title}}</p>
        <button class="btn.save btn btn-success" data-id="{{_id}}">Save Article</button>
    </a>
</div>